:root {
  --color-main-bg: #d9e3f7;
  --color-secondary: #74a2ff;
  --color-secondary-dark: #3563be;
  --color-text: #190909;
  --color-tertiary: #a3a6bb;
  --color-white-transparent: rgba(255, 255, 255, 0.4);
}
