@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
:root {
  --color-main-bg: #d9e3f7;
  --color-secondary: #74a2ff;
  --color-secondary-dark: #3563be;
  --color-text: #190909;
  --color-tertiary: #a3a6bb;
  --color-white-transparent: rgba(255, 255, 255, 0.4);
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-main-bg);
  background-image: url(../images/bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

section {
  width: 100%;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  font-family: inherit;
}

.hidden {
  display: none;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.container--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  gap: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .container--flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1000px) {
  .container--flex {
    gap: 8rem;
  }
}

.logo {
  font-size: 3rem;
  text-align: center;
  margin: 2rem 0;
}

@media (min-width: 768px) {
  .logo {
    margin-bottom: 6rem;
  }
}

.subtitle {
  font-size: 2rem;
}

.btn-main {
  background-color: var(--color-secondary);
  border: none;
  border-radius: 10px;
  padding: 0.8em 1.2em;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  font-family: inherit;
}

.btn-main:hover {
  background-color: var(--color-secondary-dark);
}

.board {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-row-gap: 1rem;
}

.board__subtitle {
  display: inline-block;
}

.board__scoreboard {
  grid-column: span 2;
}

.board__btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
}

@media (min-width: 768px) {
  .board__btn {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
}

.add-score__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.25rem;
  width: 100%;
}

@media (min-width: 768px) {
  .add-score__form {
    width: 70%;
  }
}

.add-score__btn {
  width: 100%;
  padding: 1.4em 1.2em;
}

@media (min-width: 768px) {
  .add-score__btn {
    width: auto;
    padding: 0.8em 1.2em;
  }
}

.add-score input {
  background-color: var(--color-white-transparent);
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 1rem;
  font-weight: 700;
  width: 100%;
}

.add-score__subtitle {
  margin-bottom: 1rem;
}

.add-score__message {
  font-weight: 700;
}

.add-score__message--error {
  color: red;
}

.scoreboard {
  background-color: var(--color-white-transparent);
  border: none;
  border-radius: 10px;
}

.scoreboard__item {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 1.5rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.scoreboard__item::after {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: '';
  width: 90%;
  height: 2px;
  background-color: var(--color-tertiary);
  border-radius: 5px;
  opacity: 0.2;
}

.scoreboard__item:last-of-type::after {
  display: none;
}
/*# sourceMappingURL=main.css.map */